* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  list-style-type: none;
}

body {
  background-color: #282c34;
  color: #ffffff;
}

button > *,
svg {vertical-align: middle;}

input[type="checkbox"] {display: none;}

/* todo form */

.todo-form {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}

.todo-form__input {
  width: 400px;
  padding: 5px 15px;
}

.todo-form__submit {
  transition: transform 0.3s ease-in;
}

.todo-form__submit:active {
  transform: scale(0.8);
}


/* todo list */

.todo-list-wrapper {
  max-width: 800px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.todo-filter,
.todo-filter__list {
  display: flex;
}

.todo-filter__title {
  font-size: 18px;
  font-weight: 600;
}

.todo-filter__list {
  align-self: flex-end;
  gap: 10px;
  margin-left: 15px;
}

.todo-filter__list-item {cursor: pointer;}

.todo-filter__list-item:hover {text-decoration: underline;}

.todo-filter__list-item.active {
  color: #a09b9b;
  text-decoration: underline;
}

.todo-list-empty {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.todo-list {
  margin-top: 30px;
}

.todo-list__item {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  border-radius: 30px;
  background-color: #ffffff;
}

.todo-list__item:not(:first-child) {
  margin-top: 10px;
}

.todo-list__item-name {
  width: calc(100%  - 150px);
  margin-left: 10px;
  padding-top: 4px;
  font-size: 20px;
  color: #282c34;
}

.todo-list__item-edit {
  margin-left: auto;
}

.todo-list__item-delete {
  margin-left: 10px;
}
